.navbar {
  background-color: white;
  color: var(--rich-black);
  padding: 1rem;
  user-select: none;
  font-family: "Inter", sans-serif;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-logo {
  width: 80px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-links a {
  color: var(--rich-black);
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: var(--rich-black);
  font-weight: 500;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  padding: 0%;
  font-family: "Inter", sans-serif;
}

a {
  font-size: 1rem;
}
