<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Settings - VintageChat</title>
  <link rel="icon" href="/assets/VintageChat.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/settings.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="/scripts/darkMode.js" defer></script>
</head>

<body>
  <header class="navbar">
    <div class="navbar-content">
      <a href="/">
        <img src="/assets/VintageChat.png" alt="Logo" class="navbar-logo">
      </a>
      <div class="navbar-links">
        <div class="navbar-item">
          <a href="#" id="darkModeToggle">
            <img src="/assets/Dark_mode.svg" alt="Dark Mode" class="navbar-icon" id="themeIcon">
          </a>
          <span class="navbar-label">Dark Mode</span>
        </div>
        <div class="navbar-item">
          <a href="/">
            <img src="/assets/Home.svg" alt="Home" class="navbar-icon">
          </a>
          <span class="navbar-label">Home</span>
        </div>
        <div class="navbar-item">
          <a href="/profile">
            <img src="/assets/Profile.svg" alt="Profile" class="navbar-icon">
          </a>
          <span class="navbar-label">Profile</span>
        </div>
        <div class="navbar-item">
          <a href="/settings">
            <img src="/assets/Settings.svg" alt="Settings" class="navbar-icon">
          </a>
          <span class="navbar-label">Settings</span>
        </div>
      </div>
    </div>
  </header>
  <main class="content">
    <h1>Your Profile</h1>
    </p>
    <form action="/logout" method="post" style="display:inline;">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </main>
  <footer class="main-footer">
    <div class="footer-content">
      <img src="/assets/VintageChat.png" alt="logo" class="footer-logo">
      <div class="footer-info">
        <p class="contributor">Contributor: Hugo Wilinski</p>
        <p>&copy; 2025 VintageChat. All rights reserved.</p>
      </div>
    </div>
  </footer>
</body>

</html>